/* todo: import custom fonts */

/* Base */
body {
	background: #eee;
	font-family: 'Noto Serif JP',  "Georgia", serif;
	padding: 32px;
}

/* Wordmark */
.wordmark {
	display: grid;
	place-content: center;
	z-index: -20;
	margin: 0 auto 32px;
}
.wordmark p {
	text-align: center;
}
.wordmark h1 {
    font-family: "Georgia","Palatino",serif;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-size: 36px;
	font-weight: normal;
    line-height: 1;
    width: 129px;
    color: #444;
	margin: 0 auto 16px;
	position: relative;
}

.wordmark h1 b {
	font-family: "Palatino",serif;
    font-style: italic;
    font-weight: normal;
    font-size: 54px;
	position: absolute;
    left: 96px;
    color: #FD541F; 
	z-index: -10;
}

/* Typography */
body {
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0em;
	text-align: left;
	color: #444444;
}
a, a:hover, a:active, a:visited {
	color: #FD541F;
}
a:hover {
	text-decoration: underline;
}
.emphasis {
	color: #FD541F;
}
h1, h2, h3 {
	margin:0 0 16px;
	font-family: Noto Serif, "Georgia", serif;
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 33px;
	color: #444444;
}
h1 {
	margin:0 0 32px;
	font-size: 32px;
	line-height: 32px;
}
h3 {
	margin: 0;
	font-size: 18px;
}
p {
	margin: 0 0 16px;
}
p:last-of-type {
	margin-bottom: 0;
}

ul, ul li {
	list-style: disc;
}
ul {
	margin-bottom: 16px;
}

/* Layout */
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
}

.card {
	flex: 0 1 320px; /*  No stretching: */
	background-color: #fff;
	border-radius: 20px;
	padding: 32px;
	box-shadow: 0px 4px 0px 0px #ddd;
	margin: 32px;
}
.card-lg {
	padding: 64px;
}

.divider {
	display: block;
	background-color: #FD541F;
	height: 2px;
	border-radius: 4px;
	box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.25);
	width: 32px;
	margin: 0 auto 16px;
	border: 0;
}
.divider.left {
	margin: 0 0 16px 0;
}

.last-ampersand {
	display: block;
	width: 36px;
	height: 36px;
	font-family: Palatino;
	font-style: italic;
	font-weight: normal;
	font-size: 26px;
	line-height: 36px;
	text-align: center;
	/* identical to box height */
	color: #FFFFFF;
	background-color: #FD541F;
	border-radius: 1000px;
	margin: 32px auto;
	box-shadow: 0px 2px 0px #DDDDDD;
}
