/* Base */
body {
	background: #eee;
	font-family: 'Noto Serif JP', serif;
	padding: 64px;
}

/* Wordmark */
.wordmark {
	display: block;
	width: 256px;
	position: relative;
	z-index: -20;
}
.wordmark p {
	text-align: center;
}
.wordmark h1 {
    font-family: "Georgia","Palatino",serif;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-size: 36px;
	font-weight: normal;
    line-height: 1;
    width: 129px;
    color: #444;
	margin: 0 auto 16px;
	position: relative;
}

.wordmark h1 b {
	font-family: "Palatino",serif;
    font-style: italic;
    font-weight: normal;
    font-size: 54px;
	position: absolute;
    left: 96px;
    color: #FD541F; 
	z-index: -10;
}

/* Typography */
body {
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0em;
	text-align: left;
	color: #444444;
}
.emphasis {
	color: #FD541F;
}

/* Layout */
.container {
	display: flex;
	flex-flow: column nowrap;
}
.card {
	background-color: #fff;
	border-radius: 20px;
	padding: 32px;
	box-shadow: 0px 4px 0px 0px #ddd;
	flex-grow: 1;
}
.card-lg {
	padding: 64px;
	flex: grow 2;
}

.divider {
	display: block;
	background-color: #FD541F;
	height: 2px;
	border-radius: 4px;
	box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.25);
	width: 32px;
	margin: 0 auto 16px;
	border: 0;
}