<!-- begin products -->
<section class="section projects animate">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="container__inner">

          {% if site.data.settings.section_projects_title %}
          <div class="section__info">
            <div class="section__head">
              <h2 class="section__title">{{ site.data.settings.section_projects_title }}</h2>
              <a class="section__link" href="{{ '/products' | relative_url }}">View all</a>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="52" height="12" fill="none"><path stroke="var(--accent-color)" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="m2 1.734 8 8 8-8 8 8 8-8 8 8 8-8"/></svg>
          </div>
          {% endif %}

          <div class="row">
            {% assign sorted = site.products | sort: 'date' | reverse %}
            {% for product in sorted limit:6 %}
            <article class="project col col-4 col-w-6 col-t-12">
              <div class="project__content">
                {% if product.image %}
                <div class="project__head">
                  <div class="project__image">
                    <img class="lazy" data-src="{{ product.image }}" alt="{{ product.title }}">
                  </div>
                </div>
                {% endif %}
                <div class="project__inner">
                  <div class="project__info">
                    {% if product.subtitle %}
                    <div class="project__subtitle">{{ product.subtitle }}</div>
                    {% endif %}
                  </div>
                  <h3 class="project__title">
                    <a href="{{ product.url }}" class="project__link">{{ product.title }}</a>
                  </h3>
                  {% if product.summary %}
                  <p class="project__excerpt">{{ product.summary }}</p>
                  {% endif %}
                </div>
              </div>
            </article>
            {% endfor %}
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end products -->