.about__subtitle {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    // background: var(--text-gradient);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
}