<!DOCTYPE html>
<html lang="en">

	{% include head.html %}
	
<div class="container">
	<header class="card wordmark">
		<hr class="divider">
		<h1>Small <b class="amp">&amp;</b> Simple Things</h1>
		<hr class="divider">
		<p lang="ja"><span class="emphasis">小</span>さな<span class="emphasis">簡単</span>なこと</p>
	</header>
	
	<section class="card">
		<h2>About</h2>
		<hr class="divider left">
		<p lang="ja">初めまして！</p>
		<p>I’m Tom DeForest. I believe in the power of small and simple things to change my life. In fact, I believe that all meaningful change in
		the world begins from the little seeds of improvement that we sow in our own lives. On their own, these simple actions
		can do very little good. But when we consistently make small improvements every day, the compounding effect of those
		changes moves mountains, touches hearts, and changes lives forever.</p>
	</section>

	<section class="card">
		<h2>I Believe in God</h2>
		<hr class="divider left">
		<p>God reaches out and touches my life in so many small and simple ways. Through the divine love of His Son Jesus Christ, I
		have found enduring peace and happiness.</p>
		<p lang="ja">神様に信じる</p>
	</section>

	<section class="card">
		<h2>I Believe in Love &amp; Family</h2>
		<hr class="divider left">
		<p>Married 22 years, soon to be 23. Five beautiful, amazing daughters.</p>
		<p>I am the ninth great-grandson of <a href="https://www.nycgovparks.org/parks/battery-park/monuments/1647">Jesse the Walloon</a>. In celebration of the 397th anniversary of the arrival of the Walloons in New Amsterdam, I am publishing <a href="https://github.com/tomdeforest/walloon-epub/releases/tag/v1.0"><em>A Walloon Family in America</em> as an ePub</a>. It is a wonderful tribute and an insightful view into the settling of what is now New York City.</em></p>
		<p>If you have feedback on this ePub, please log an <a href="https://github.com/tomdeforest/walloon-epub/issues">issue or comment in the repository</a>.</p>
		<p lang="ja">愛に信じる</p>
	</section>

	<section class="card">
		<h2>I Love What I Do</h2>
		<hr class="divider left">
		<p>I aspire to be an excellent user experience designer, leader, and mentor.</p>
		<p>You can read a little about some of my <a href="/ux-heroes/john-dilworth.html">UX heroes</a>.</p>
		<hr class="divider left">
		<p>
			<a href="https://www.nngroup.com/ux-certification/verify/"><img src="https://media.nngroup.com/nng-uxc-badge.png"
				width="200" height="174" border="0" style="border:none;"
				alt="UX Certification Badge from Nielsen Norman Group" /></a>
		</p>
		<p>
			I received my UX Certification from the <a href="https://www.nngroup.com">Nielsen Norman Group</a>, the world leader in user experience research and design. My UX Certification id is <a href="https://www.nngroup.com/ux-certification/verify/">1028613</a>.
		</p>
	</section>

	<section class="card">
		<h2>Sharing</h2>
		<hr class="divider left">
		<h3><a href="https://dribbble.com/smallandsimple">Dribbble</a></h3>
		<p>I’m inspired by designers, illustrators, and other artists on Dribbble.</p>
		<h3><a href="https://github.com/tomdeforest">GitHub</a></h3>
		<p>GitHub is where I host this site.</p>
		<h3><a href="https://www.redbubble.com/people/tdeforest/shop">RedBubble</a></h3>
		<p>I make art and sell it via print on demand products on RedBubble. When you buy a product with my design on it, I get paid!</p>
	</section>
</div>

<div class="last-ampersand">&amp;</div>

</body>
</html>