<!DOCTYPE html>
<html>

	{% include head.html %}
	
<div class="container">
	<section class="column-A">
		<header class="card wordmark">
			<hr class="divider">
			<h1>Small <b class="amp">&amp;</b> Simple Things</h1>
			<hr class="divider">
			<p><span class="emphasis">小</span>さな<span class="emphasis">簡単</span>なこと</p>
		</header>
		<section class="card">
			<h2>About</h2>
			<hr class="divider">
			<p>初めまして！</p>
		</section>
	</section>
	<section class="column-B">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
			aliqua. Viverra suspendisse potenti nullam ac tortor vitae purus. Id interdum velit laoreet id donec ultrices tincidunt
			arcu. Placerat in egestas erat imperdiet. Ac auctor augue mauris augue neque gravida in fermentum. Molestie ac feugiat
			sed lectus vestibulum mattis ullamcorper. Cursus vitae congue mauris rhoncus aenean vel elit scelerisque. Curabitur
			vitae nunc sed velit dignissim sodales ut eu. Condimentum id venenatis a condimentum vitae sapien pellentesque. Varius
			morbi enim nunc faucibus a. Gravida cum sociis natoque penatibus et magnis dis. Sit amet mattis vulputate enim nulla.
			Ipsum suspendisse ultrices gravida dictum fusce ut. Egestas erat imperdiet sed euismod nisi porta lorem mollis. Neque
			aliquam vestibulum morbi blandit cursus risus at ultrices. Vestibulum lorem sed risus ultricies tristique nulla aliquet
			enim tortor. Consectetur adipiscing elit pellentesque habitant morbi. Amet massa vitae tortor condimentum lacinia quis
			vel eros. Id semper risus in hendrerit gravida.
		</p>	
	</section>
	
</div>
  
</body>
</html>