<!DOCTYPE html>
<html>

	{% include head.html %}
	
<div class="container">
	<header class="card wordmark">
		<hr class="divider">
		<h1>Small <b class="amp">&amp;</b> Simple Things</h1>
		<hr class="divider">
		<p><span class="emphasis">小</span>さな<span class="emphasis">簡単</span>なこと</p>
	</header>
	
	<section class="card">
		<h2>About</h2>
		<hr class="divider left">
		<p>初めまして！</p>
		<p>I’m Tom DeForest and I want you to know that I believe in small and simple things.</p>
	</section>

	<section class="card">
		<h2>I Believe in God</h2>
		<hr class="divider left">
		<p>God reaches out and touches my life in so many small and simple ways. Through the divine love of His Son Jesus Christ, I
		have found enduring peace and happiness.</p>
		<p>神様に信じる</p>
	</section>

	<section class="card">
		<h2>I Believe in Love</h2>
		<hr class="divider left">
		<p>Married 22 years, soon to be 23. Five beautiful, amazing daughters.</p>
		<p>愛に信じる</p>
	</section>

	<section class="card">
		<h2>I Love What I Do</h2>
		<hr class="divider left">
		<p>I aspire to be an excellent user experience designer, leader, and mentor.</p>
		<p>You can read a little about some of my <a href="/ux-heroes/john-dilworth.html">UX heroes</a>.</p>
	</section>

	<section class="card">
		<h2>Social</h2>
		<hr class="divider left">
		<h3><a href="https://dribbble.com/smallandsimple">Dribbble</a></h3>
		<p>I’m inspired by designers, illustrators, and other artists on Dribbble.</p>
		<h3><a href="https://github.com/tomdeforest">GitHub</a></h3>
		<p>GitHub is where I host my site.</p>
	</section>

	<div class="last-ampersand">&amp;</div>
</div>
  
</body>
</html>